/*
* @Author: lenovo
* @Date:   2017-12-09 23:10:56
* @Last Modified by:   lenovo
* @Last Modified time: 2017-12-14 15:39:30
*/
@import url('base.css');

@font-face {
  font-family: 'iconfont';  /* project id 500019 */
  src: url('https://at.alicdn.com/t/font_500019_pd82kcswcwpzaor.eot');
  src: url('https://at.alicdn.com/t/font_500019_pd82kcswcwpzaor.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_500019_pd82kcswcwpzaor.woff') format('woff'),
  url('https://at.alicdn.com/t/font_500019_pd82kcswcwpzaor.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_500019_pd82kcswcwpzaor.svg#iconfont') format('svg');
}

.iconfont{
	font-family: 'iconfont';
}

body{
	background: #f5f5f5;
}
header{
	width: 100%;
	height: 1.42rem;
	background-image: -webkit-linear-gradient(top,#332C3B,#817888);
}
.head1{
	width: 100%;
	height: 0.35rem;
	box-sizing: border-box;
	padding: 0.08rem 0.1rem;
}
.icon1{
	font-size: 0.2rem;
	color: #fff;	
}
.icon2{
	font-size: 0.2rem;
	color: #fff;
	float: right;	
}
.head2{
	width: 100%;
	height: 0.76rem;
	padding: 0.1rem 0.15rem 0 0.15rem;
	box-sizing: border-box;
}
.head2 img{
	width: 0.66rem;
	height: 0.66rem;
	margin-right: 0.2rem;
	float: left;
}
.head2 h2{
	color: #fff;
	float: left;
}
.head2 p{
	font-size: 0.1rem;
	float: left;
	color: #b0b0b0;
	margin-top: 0.05rem;
	margin-bottom: 0.05rem;
}
.head2 span{
	font-size: 0.1rem;
	color: #b0b0b0;
	float: left;
}
.jian{
	font-size: 0.12rem;
	background: pink;
	float: left;
    color: #fff;
    margin-right: 0.05rem;
}
.head3{
	width: 100%;
	height: 0.31rem;
	padding: 0.05rem 0.15rem;
	box-sizing: border-box;
}
.manjian{
	font-size: 0.08rem;
	float: left;
	color: #fff;
}
.icon3{
	font-size: 0.06rem;
	color: #fff;
	float: right;
    line-height: 0.21rem;
}
.gdhd{
	font-size: 0.06rem;
	color: #e6e5e8;
	float: right;
	line-height: 0.21rem;
}
nav{
	width: 100%;
	height: 0.4rem;
	border-bottom: 0.01rem solid #eee;
}
nav a{
	display: block;
	width: 1.25rem;
	height: 0.4rem;
	float: left;
	background: #fff;
	line-height: 0.4rem;
	text-align: center;
	color: #333;
}
nav a:nth-child(2){
	color: #2395FF;
}
nav a:nth-child(2)::after{
	content: '';
	display: block;
	width: 0.4rem;
	height: 0.02rem;
	background: #2395FF;
	margin: 0 auto;
}
.zhpj{
	width: 100%;
	height: 0.97rem;
	box-sizing: border-box;
	padding: 0.15rem;
	background: #fff;
}
.zp1{
	width: 0.9rem;
	height: 100%;
	padding-right: 0.15rem;
	text-align: center;
	border-right: 0.01rem solid #f0f0f0;
	float: left;
}
.zp1 strong{
	font-size: 0.2rem;
	color: #ff6600;
}
.zp1 p:first-of-type{
	font-size: 0.1rem;
	color: #333;
}
.zp1 p:last-of-type{
	font-size: 0.06rem;
	color: #b0b0b0;
}
.zp2{
	width: 2.2rem;
	height: 100%;
	float: left;
}
.futd1{
	width: 1.9rem;
	height: 0.3rem;
}
.fuz{
	font-size: 0.12rem;
	padding-right: 0.1rem;
	margin-left: 0.3rem;
	color: #666;
}
.icn1{
	font-size: 0.12rem;
	color: yellow;
	margin-right: 0.1rem;
}
.fus{
	font-size: 0.12rem;
	color: #ff6600;
}
.pingjia{
	width: 100%;
	height: auto;
	margin-top: 0.1rem;
	margin-bottom: 0.7rem;
	box-sizing: border-box;
	padding: 0.1px 0.15px;
}
.pjlb{
	width: 100%;
	height: 0.49rem;
    background: #fff;
    box-sizing: border-box;
    padding: 0.1rem 0.15rem;
    border-bottom: 0.01rem solid #f8f8f8;
}
.pjlb ul{
	width: 100%;
	height: 0.25rem;
}
.pjlb ul li{
	width: 0.64rem;
	height: 0.28rem;
	background: #ebf5ff;
	float: left;
	margin-right: 0.1rem;
	text-align: center;
	line-height: 0.28rem;
	color: #333;
	font-size: 0.12rem;
}
.pj{
	width: 100%;
	height: auto;
	overflow: hidden;
	box-sizing: border-box;
	padding: 0.1rem 0.15rem;
	background: #fff;
}
.pj ul{
	width: 100%;
	height: auto;
	overflow: hidden;
}
.pj ul li{
	width: 100%;
	height: auto;
	border-bottom: 0.01rem solid #f8f8f8;
    overflow: hidden;
}
.pj a{
	display: block;
	width: 0.3rem;
	height: 0.3rem;
	float: left;
	margin-right: 0.1rem;
}
.pj a img{
	width: 0.3rem;
	height: 0.3rem;
}
.pjneirong{
	width: 2.9rem;
	height: auto;
	float: right;
}
.pjneirong h3{
	font-size: 0.14rem;
	color: #333;
	float: left;
	margin-right: 0.1rem;
}
.pjneirong span{
	font-size: 0.12rem;
	color: #666;
}
.pjneirong img{
	width: 0.72rem;
	height: 0.72rem;
	margin-top: 0.1rem;
	margin-bottom: 0.05rem;
}
.spm{
	width: auto;
	height: 0.2rem;
	font-size: 0.12rem;
	padding: 0.02rem 0.05rem;
	border: 0.01rem solid #f8f8f8;
	border-radius: 0.05rem;
	display: inline-block;
	margin-bottom: 0.02rem;
}
