*{
    margin: 0;
    padding: 0;
    list-style: none;

}
a{
    text-decoration: none;
}
body,html{
    width: 100%;
    height: 100%;
    background: #EDEDED;
}
nav{
    height: 75px;
    width: 100%;
    background: darkblue;
}
.top{
    width: 1220px;
    height: 100%;
    margin: 0 auto;
}
.tz{
    display: block;
    width: 180px;
    height: 100%;
    float: left;
}
.topZ{
    width: 60px;
    height: 75px;
    box-sizing: border-box;
    padding-top: 8px;
}
.topZ img{
    width: 60px;
    height: 60px;
    vertical-align: middle;
}
.topY{
    width: 220px;
    height: 75px;
    float: right;
}
.topY1{
    display: block;
    float: left;
    padding: 0 25px;
    color: #c8c8c8;
    line-height: 75px;
    font-size: 14px;
}
.topY1:hover{
    color: #fff;
}
.jin{
    height: 62px;
    width: 100%;
}
.jin.hot{
    position: fixed;
    top: -62px;
    left: 0;
    background-image: linear-gradient(180deg, #ffffff, #f9f9f9);
    z-index: 1000;
}

.jin1 {
    width: 1220px;
    height: 100%;
    margin: 0 auto;
}
.jin11{
    width: 550px;
    height: 100%;
}
.jin11 li{
    width: auto;
    height: 100%;
    float: left;
    position: relative;
}
.dian{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    width: 2px;
    height: 2px;
    background: #000;
}
.jin11>li>a{
    display: block;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    font-size: 14px;
    color: #666;
}
.jin11>li:first-child a{
    padding-left: 0;
    font-weight: 800 !important;
}
.jin11>li>a:hover{
    color: #5079d9;
}
.lie{
    width: 160px;
    height: auto;
    padding: 5px 0;
    border: 1px solid #dadada;
    position: absolute;
    border-radius: 4px;
    left: -10px;
    top: 62px;
    z-index: 20;
    background: #fff;
    box-shadow: 0 10px 30px 1px rgba(0,0,0,0.5);
    display: none;
}
.lie.hot{
    display: block;
}
.lie>li{
    height: 38px;
    width: 100%;
    text-align: left;
    padding-left: 10px;
    box-sizing: border-box;
}
.lie>li>a{
    display: block;
    line-height: 38px;
    width: 100%;
    height: 100%;
    color: #666;
    font-size: 14px;
}
.lie>li:hover{
    background: #ededed;
}
.ban,.rm{
    height: 500px;
    width: 100%;
    margin-bottom: 60px;
}
.banner{
    width: 1220px;
    height: 500px;
    box-sizing: border-box;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    transition: all 0.5s;
}
.banner:hover{
    box-shadow: 0 0 20px 5px rgba(0,0,0,0.3);
    transform:skew(0.5deg,0.5deg)
}
.ba{
    width: 100%;
    height: 100%;
    position: relative;
}
.ba li{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.ba li a{
    display: block;
    height: 100%;
    width: 100%;
}
.ba li a img{
    height: 100%;
    width: 100%;
}
.ba li.hot{
    z-index: 10;
    opacity: 1;
    transition: all 1s;
}
.cc{
    width: 150px;
    height: 16px;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 11;
    display: flex;
    justify-content: space-between;
}
.cc li{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: rgba(255,255,255,0.5);
}
.cc li:hover{
    background: rgba(255,255,255,1);
    cursor: pointer;
}
.cc li.hot{
    background: rgba(255,255,255,1);
}
.dj{
    height: 930px;
    width: 100%;
    margin-bottom: 60px;
}
.reMen{
    width: 1220px;
    height: 500px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #dbdbdb;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    background: #fff;
}
.rmt{
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #EDEDED;
}
.rmb{
    width: 100%;
    height: 429px;
}
.rmm{
    width: 2440px;
    height: 100%;
    transition: all 1s;
}
.rmtR{
    float: left;
    width: 200px;
    height: 100%;
    box-sizing: border-box;
    padding: 10px 0 10px 30px;
}
.rmtL{
    float: right;
    width: 110px;
    height: 100%;
    box-sizing: border-box;
    padding: 16px 14px;
    display: flex;
    justify-content: space-between;
}
.rmtL button{
    width: 34px;
    height: 34px;
    border-radius: 5px;
    border: 1px solid #e1e1e1;
    background: #fcfcfc;
    text-align: center;
    line-height: 34px;
    color: #786a78;
    cursor: pointer;
}
.rmtL button:hover{
    background: #eeeeee;
}
.rmtL button:focus{
    outline: none;
}
.btn{
    width: 83px;
    height: 30px;
    margin-top: 3px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #e1e1e1;
    text-align: center;
    line-height: 28px;
    color: #786a78;
    font-size: 12px;
    cursor: pointer;
}
.btn:hover{
    background: #eeeeee;
}
h2{
    font-weight: normal;
    color: #6e6e6e;
}
.rmtR p{
    font-size: 14px;
    color: #848484;
}
.box{
    width: 304px;
    height: 428px;
    border-right: 1px solid #EFEFEF;
    border-bottom: 1px solid #EFEFEF;
    float: left;
    overflow: hidden;
    position: relative;
}
.jinX{
    width: 1220px;
    height: 930px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #dbdbdb;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    background: #fff;
}
.tu{
    width: 610px;
    height: 306px;
    transition: all 1s;
}
.tu1{
    width: 304px;
    height: 306px;
    position: relative;
    overflow: hidden;
    float: left;
}
.tu1 a{
    display: block;
    width: 206px;
    height: 206px;
    margin: 50px auto;
}
.tu1 a img{
    width: 206px;
    height: 206px;
    display: block;
    vertical-align: middle;

}
.zi{
    width: 304px;
    height: 71px;
    box-sizing: border-box;
    padding: 0 20px 20px;
}
.zi a{
    overflow: hidden;
    font-size: 16px;
    line-height: 1.2;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #424242;
    font-weight: 300!important;
    display: block;
    text-align: center;
    width: 100%;
}
.zi p{
    overflow: hidden;
    padding-top: 7px;
    font-size: 12px;
    line-height: 1.2;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #b2b2b2;
}
.zi span{
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    font-size: 12px;
    color: #646464;
    background-color: #f9f9f9;
    background-image: linear-gradient(180deg, #ffffff, #f9f9f9);
    cursor: pointer;
    box-sizing: border-box;
    width: 100px;
    height: 30px;
    line-height: 28px;
    vertical-align: middle;
    display: none;
    margin: 20px auto;
}
.box:hover .zi span{
    display: block;
}
.box:hover{
    box-shadow: 0 0 20px 5px rgba(0,0,0,0.2) inset;
}
.zi span:hover{
    background: #eee;
}
.zi span a{
    width: 100%;
    height: 100%;
    line-height: 28px;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 300!important;
    display: block;
    font-size: 12px;
    color: #646464;
}
.cci{
    position: absolute;
    width: 40px;
    height: 14px;
    bottom: 130px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}
.cci li{
    width: 12px;
    height: 12px;
    border: 1px solid #000;

    border-radius: 50%;
}
.cci li.hot{
    width: 10px;
    height: 10px;
    border: 2px solid #000;
}
.jt{
    width: 608px;
    height: 428px;
    float: left;
}
.jt a{
    width: 100%;
    height: 100%;
    display: block;
}
.jt a img{
    width: 100%;
    height: 100%;
}
.foot{
    height: 274px;
    width: 100%;
    background: #fafafa;
    padding: 100px 0 32px;
    box-sizing: border-box;
    border-bottom: 1px solid #dbdbdb;
}
.footN{
    height: 141px;
    width: 1220px;
    margin: 0 auto;
}
.footL{
    width: 820px;
    height: 125px;
    float: left;
    box-sizing: border-box;
    padding: 0 20px;
}
.footL dl{
    width: 130px;height: auto;
    float: left;
    box-sizing: border-box;
    padding: 0 15px;
}
.footL dl dt{
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 15px;
}
.footL dl dd{
    font-size: 12px;
    line-height: 20px;
    text-align: center;

}
.footL dl dd a{
    color: #969696;
    display: block;
    width: 100%;
    height: 100%;
}
.footL dl dd a:hover{
    color: #6B84BF;
}
.footR{
    width: 400px;
    height: 141px;
    float: right;
    box-sizing: border-box;
    padding: 20px 10px 0 0;
}
h3{
    text-align: right;
    font-size: 26px;
}
.footR p{
    color: #c3c3c3;
    text-align: right;
    font-size: 13px;
    margin-top: 10px;
}
.footR a{
    float: right;
    width: 102px;
    height: 32px;
    line-height: 32px;
    background-image: linear-gradient(#fcfcfc, #f5f5f5);
    cursor: pointer;
    font-size: 14px;
    padding: 0 0 0 26px;
    margin-top: 8px;
    text-align: left;
    color: #5079d9;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    box-sizing: content-box;
}
.footR a:hover{
    background: #f0f0f0;
}
footer{
    height: 60px;
    width: 100%;
    background: #F5F5F5;
    box-sizing: border-box;
}
.di{
    width: 1220px;
    height: 100%;
    box-sizing: border-box;
    padding: 20px 0 0 10px;
    margin: 0 auto;
    position: relative;
}
.di p{
    font-size: 12px;
    color: #666;
}
.lang{
    width: 100px;
    height: 50px;
    position: absolute;
    right: 0;
    top:0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    box-sizing: border-box;
    padding-top: 20px;

}
.lang button{
    border: none;
    background: none;
    cursor: pointer;
}
button:focus{
    outline: none;
}
.fanHui{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #6e6e6e;
    position: fixed;
    bottom: 20px;
    right: 10px;
    background-image: linear-gradient(180deg, #ffffff, #999);
    line-height: 40px;
    text-align: center;
    display: none;
}
.fanHui i{
    display: block;
    font-style: normal;
    font-size: 20px;
    transform: rotate(90deg);
    font-weight: bold;
    color: #786a78;
    cursor: pointer;
}