*{
    margin: 0;
    padding: 0;
    list-style: none;

}
a{
    text-decoration: none;
}
body,html{
    width: 100%;
    height: 100%;
    background: #EDEDED;
}
nav{
    height: 75px;
    width: 100%;
    background: darkblue;
}
.top{
    width: 1220px;
    height: 100%;
    margin: 0 auto;
}
.tz{
    display: block;
    width: 180px;
    height: 100%;
    float: left;
}
.topZ{
    width: 60px;
    height: 75px;
    box-sizing: border-box;
    padding-top: 8px;
}
.topZ img{
    width: 60px;
    height: 60px;
    vertical-align: middle;
}
.topY{
    width: 220px;
    height: 75px;
    float: right;
}
.topY1{
    display: block;
    float: left;
    padding: 0 25px;
    color: #c8c8c8;
    line-height: 75px;
    font-size: 14px;
}
.topY1:hover{
    color: #fff;
}
.jin{
    height: 62px;
    width: 100%;
}
.jin.hot{
    position: fixed;
    top: -62px;
    left: 0;
    background-image: linear-gradient(180deg, #ffffff, #f9f9f9);
    z-index: 1000;
}

.jin1 {
    width: 1220px;
    height: 100%;
    margin: 0 auto;
}
.jin11{
    width: 550px;
    height: 100%;
}
.jin11 li{
    width: auto;
    height: 100%;
    float: left;
    position: relative;
}
.dian{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    width: 2px;
    height: 2px;
    background: #000;
}
.jin11>li>a{
    display: block;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    font-size: 14px;
    color: #666;
}
.jin11>li:first-child a{
    padding-left: 0;
}
.jin11>li>a.hot{
    font-weight: 800 !important;
}
.jin11>li>a:hover{
    color: #5079d9;
}
.lie{
    width: 160px;
    height: auto;
    padding: 5px 0;
    border: 1px solid #dadada;
    position: absolute;
    border-radius: 4px;
    left: -10px;
    top: 62px;
    z-index: 20;
    background: #fff;
    box-shadow: 0 10px 30px 1px rgba(0,0,0,0.5);
    display: none;
}
.lie.hot{
    display: block;
}
.lie>li{
    height: 38px;
    width: 100%;
    text-align: left;
    padding-left: 10px;
    box-sizing: border-box;
}
.lie>li>a{
    display: block;
    line-height: 38px;
    width: 100%;
    height: 100%;
    color: #666;
    font-size: 14px;
}
.lie>li:hover{
    background: #ededed;
}
.foot{
    height: 274px;
    width: 100%;
    background: #fafafa;
    padding: 100px 0 32px;
    box-sizing: border-box;
    border-bottom: 1px solid #dbdbdb;
}
.footN{
    height: 141px;
    width: 1220px;
    margin: 0 auto;
}
.footL{
    width: 820px;
    height: 125px;
    float: left;
    box-sizing: border-box;
    padding: 0 20px;
}
.footL dl{
    width: 130px;height: auto;
    float: left;
    box-sizing: border-box;
    padding: 0 15px;
}
.footL dl dt{
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 15px;
}
.footL dl dd{
    font-size: 12px;
    line-height: 20px;
    text-align: center;

}
.footL dl dd a{
    color: #969696;
    display: block;
    width: 100%;
    height: 100%;
}
.footL dl dd a:hover{
    color: #6B84BF;
}
.footR{
    width: 400px;
    height: 141px;
    float: right;
    box-sizing: border-box;
    padding: 20px 10px 0 0;
}
h3{
    text-align: right;
    font-size: 26px;
}
.footR p{
    color: #c3c3c3;
    text-align: right;
    font-size: 13px;
    margin-top: 10px;
}
.footR a{
    float: right;
    width: 102px;
    height: 32px;
    line-height: 32px;
    background-image: linear-gradient(#fcfcfc, #f5f5f5);
    cursor: pointer;
    font-size: 14px;
    padding: 0 0 0 26px;
    margin-top: 8px;
    text-align: left;
    color: #5079d9;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    box-sizing: content-box;
}
.footR a:hover{
    background: #f0f0f0;
}
footer{
    height: 60px;
    width: 100%;
    background: #F5F5F5;
    box-sizing: border-box;
}
.di{
    width: 1220px;
    height: 100%;
    box-sizing: border-box;
    padding: 20px 0 0 10px;
    margin: 0 auto;
    position: relative;
}
.di p{
    font-size: 12px;
    color: #666;
}
.lang{
    width: 100px;
    height: 50px;
    position: absolute;
    right: 0;
    top:0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    box-sizing: border-box;
    padding-top: 20px;

}
.lang button{
    border: none;
    background: none;
    cursor: pointer;
}
button:focus{
    outline: none;
}
.fanHui{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #6e6e6e;
    position: fixed;
    bottom: 20px;
    right: 10px;
    background-image: linear-gradient(180deg, #ffffff, #999);
    line-height: 40px;
    text-align: center;
}
.fanHui i{
    display: block;
    font-style: normal;
    font-size: 20px;
    transform: rotate(90deg);
    font-weight: bold;
    color: #786a78;
    cursor: pointer;
}
.dhl{
    height: 58px;
    width: 100%;
}
.dh{
    width: 1220px;
    height: 100%;
    margin: 0 auto;
    border-top: 1px solid #d8d8d8;
}
.dhn{
    width: auto;
    height: 100%;
}
.dhn li{
    padding: 0 10px;
    float: left;
}
.dhn li:first-child{
    padding-left: 0;
}
.dhn li a{
    display: block;
    width: auto;
    height: 100%;
    line-height: 58px;
    color: #666;
    font-size: 12px;
}
.dhn li:hover a{
    color: #5079d9;
}
main{
    width: 100%;
    height: 500px;
    margin-bottom: 80px;
}
.main{
    width: 1220px;
    height: 500px;
    margin: 0 auto;
    background: #fff;
    border: 1px solid #dadada;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    padding: 30px;
}
input{
    width: 100%;
    height: 45px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #ccc;
    background: #F3F7F9;
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.2) inset;
    padding: 0 20px;
    font-size: 18px;
}
input:focus{
    outline: none;
    background: #fff;
}

